<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= link_to referential_partners_path(token: params[:token]),
                  class: 'btn btn-default back-button' do %>
          <em class="fa fa-arrow-left"></em>
      <% end %>
    </div>
  </div>
  <div class="row">
    <h1 class="text-center">Editez un Partner</h1>
    <div class="col-md-3 col-xs-6">
      <%= form_tag referential_partner_path(slug: @partner.slug, token: params[:token]), method: :put do %>
          <div class="form-group">
            <%= label_tag :partner_slug %>
            <%= text_field_tag :partner_slug, nil, value: @partner.slug, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= label_tag :connector_types %>
            <%= text_field_tag :connector_types, nil, value: @partner.connector_types, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= label_tag :settings %>
            <%= select_tag(:settings, options_for_select([['RATPDEV:Concerto'], ['poor'], ['mediocre'], ['good'], ['great']]), class: "form-control") %>
          </div>

          <%= hidden_field_tag :id, @partner.id %>

          <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
      <% end %>
    </div>
  </div>
</div>