<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= link_to referentials_path,
                  class: 'btn btn-default back-button' do %>
          <em class="fa fa-arrow-left"></em>
      <% end %>
    </div>
  </div>
  <div class="row">
    <h1 class="text-center">Editez un Referential</h1>
    <div class="col-md-3 col-xs-6">
      <%= form_tag referential_path(slug: @referential_slug), method: :put do %>
      <div class="form-group">
        <%= label_tag :new_slug %>
        <%= text_field_tag :new_slug, nil, value: @referential_slug, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag :next_reload_at %>
        <%= text_field_tag :next_reload_at, nil, value: @referential_next_reload_at, class: "form-control"%>
      </div>

      <div class="form-group">
        <%= label_tag :token %>
        <%= text_field_tag :token, nil, value: @referential_token, class: "form-control"%>
      </div>

      <%= hidden_field_tag :id, @referential_id %>
      <%= hidden_field_tag :old_slug, @referential_old_slug %>
      <%= hidden_field_tag :old_token, @referential_old_token %>

      <div class="form-group">
        <button class="btn btn-primary btn-xs" type="submit">Edit</button>
      </div>
      <% end %>
    </div>
  </div>
</div>