<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= link_to referentials_path,
                  class: 'btn btn-default back-button' do %>
          <em class="fa fa-arrow-left"></em>
      <% end %>
    </div>
  </div>
  <div class="row">
    <h1 class="text-center"><%= t('referentials.edit.title')%></h1>
    <div class="col-md-3 col-xs-6">
      <%= form_tag referential_path(slug: @referential.slug), method: :put do %>
      <div class="form-group">
        <%= label_tag :new_slug %>
        <%= text_field_tag :new_slug, nil, value: @referential.slug, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag :token %>
        <%= text_field_tag :token, nil, value: @referential.token, class: "form-control"%>
      </div>

      <%= hidden_field_tag :id, @referential.id %>

      <div class="form-group">
        <button class="btn btn-primary btn-xs" type="submit">Edit</button>
      </div>
      <% end %>
    </div>
  </div>
</div>