<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br><br>
    </div>
  </div>
  <div class="row">
    <h1 class="text-center"><%= t('referentials.title')%></h1>
    <div class="col-md-12">
      <div class="panel panel-default panel-table">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-12">
              <%= link_to t('referentials.create.title'), new_referential_path, class: 'btn btn-sm btn-primary btn-create pull-right' %>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <table class="table table-striped table-bordered table-list">
            <thead>
            <tr>
              <th class="hidden-xs"><%= t('attributes.id')%></th>
              <th><%= t('attributes.slug')%></th>
              <th><%= t('referentials.attributes.next_reload_at')%></th>
              <th><%= t('referentials.attributes.token')%></th>
              <th><em class="fa fa-cog"></em></th>
            </tr>
            </thead>
            <tbody>
            <% @referentials_tab.each do |i| %>
                <tr>
                  <td class="hidden-xs"><%= i["Id"] %></td>
                  <td class="slug"><%= i["Slug"] %></td>
                  <td><%= i["NextReloadAt"] %></td>
                  <td class="tokens"><%= i["Tokens"].join(',') if i["Tokens"] %></td>
                  <td align="center">
                    <%= link_to referential_partners_path(i["Slug"], token: i["Tokens"].try(:first)),
                                class: 'btn btn-default' do %>
                        <em class="fa fa fa-eye"></em>
                    <% end %>
                    <%= link_to edit_referential_path({slug: i["Slug"], token: i["Tokens"].try(:first), id: i["Id"], next_reload_at: i["NextReloadAt"]}),
                                class: 'btn btn-default' do %>
                        <em class="fa fa fa-pencil"></em>
                    <% end %>
                    <%= link_to referential_path(i["Id"]), method: :delete, data: {confirm: "Are you sure you want to delete this referential ?"},
                                class: 'btn btn-danger' do %>
                        <em class="fa fa fa-trash"></em>
                    <% end %>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
