<!DOCTYPE html>

<html>
  <head>
    <title>Edwig-Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" charset=utf-8>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  </head>

  <body class="container-fluid">
    <div class="row">
      <div name="navbar">
        <div class="col-xs-*">
          <div class="nav-wrapper">
            <nav class="navbar nav-wrapper container-fluid" role="navigation" data-spy="affix" data-offset-top="700">
              <button type="button" class="navbar-toggle glyphicon glyphicon-menu-hamburger" data-toggle="collapse" data-target=".navbar-collapse"></button>
              <div class="navbar navbar-brand"><%= t('application.title')%></div>
              <% if user_signed_in? %>
                <div class="nav navbar-nav pull-right">
                  <%= link_to new_user_invitation_path,
                              class: 'btn btn-primary navbar-btn' do %>
                      <em class="fa fa-envelope">&nbsp;<%= t('application.inviteButton')%></em>
                  <% end %>
                  <%= link_to destroy_user_session_path, method: :delete,
                              class: 'btn btn-danger navbar-btn' do %>
                      <em class="fa fa-sign-out">&nbsp;<%= t('application.logoutButton')%></em>
                  <% end %>
                </div>
              <% end %>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
